QScrollArea#song_scroll, QWidget#song_list_widget {
    background-color: #222831;
    border: none;
}

QLabel#number_label, QLabel#title_label, QLabel#album_label {
    color: #EEEEEE;
    font-size: 13px;
    padding: 0;
}

QLabel#number_label {
    margin-right: 15px;
}

QLabel#title_label {
    margin-right: 320px;
}

QLabel#album_label {
    margin-right: 270px;
}

QScrollBar {
    background-color: transparent;
    border-radius: 4px;
    width: 8px;
}

QScrollBar::handle {
    background: #31363F;
}

QScrollBar::handle::pressed {
    background: #76ABAE;
}

QScrollBar::add-line {
    border: none;
    background: none;
}

QScrollBar::sub-line {
    border: none;
    background: none;
}